 ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            display: inline-block;
            margin-right: 10px;
        }
        .text-center{
            text-align: center;
        }
        a{
            text-decoration: none;
        }